
.language ul {
    display: flex;
    flex-wrap: wrap;
  }
  
  .language ul li {
    position: relative;
    background-color: #252930;
    margin-right: 15px;
    padding: 0.5rem 1.2rem;
    font-weight: 900;
    border-radius: 10px;
    list-style-type: none;
  }
  
  .language ul li p {
    margin-bottom: 3px;
    text-transform: uppercase;
    color: aliceblue;
  }
  
  .language ul li .fluency {
    position: absolute;
    content: "";
    left: 0;
    background-color: #00cf5d;
    height: 3px;
    width: 100%;
    bottom: 0;
    border-radius: 10px;
  }
  .footerTxt{
    color: white;
    text-align: center;
  }
   /* for was footer */

  /* .main{
    width: 100vw;
    position: relative;
    min-height: 100vh;
  }
  .footer{
    position: absolute;
    width: auto;
    bottom: 0;
    width: 100%;
  } */

  .main{
    width: 100vw;
    min-height: calc(100vh - 211px - 58px);
  }
  .footer{
    margin-bottom: 20px;
  }
  


  /* rifat style code  */

  .container {
    padding: 0 2rem;
  }
  
  .main {
    min-height: 100%;
    padding: 4rem 0 0;
    color: white !important;
  }
  
  
  .footerTxt {
    width: 90%;
    text-align: center;
    margin: auto;
    padding: 1rem 0 1rem;
  }
  
  .skillsWrapper {
    width: 100%;
    background-color: #ddd;
    margin: 1rem 0;
    border-radius: 15px !important;
  }
  
  .skillsName {
    text-align: left;
    padding-left: 10px;
    margin: 10px 0 8px !important;
    transition: width .6s ease;
    font-size: 1.2em;
    font-family: monospace;
    letter-spacing: 1px;
  }
 
.projects{
  text-align: center;
  margin-top: 50px;
}

  
  /* For Responsiveness */
  @media screen and (max-width: 599px) {
    .container {
      padding: 0;
    }
  
    .marginBottomInMobile {
      margin-bottom: 2rem !important;
    }

  
    .skillsContainer {
      padding: 40px 20px 10px;
    }
  
  
    .footer {
      padding-bottom: 1rem;
    }
  }
  